*{
    margin: 0;
    padding: 0;
   }
   header{
       background-color: black;
       color: white;
       height: 53px;
       width: 100%;
   }
   header>img{
       width: 32px;
       height: 32px;
       margin-top: 10px;
       float: left;
   }
   
   .divinput{
       float: left;
       margin-top: 13px;
   }
   .divinput>input{
       width: 221px;
       height: 28px;
       border: none;
       border-radius: 5px 5px 5px 5px;
       padding-left: 12px;
       padding-right: 12px;
       background-color: #24292e;
   }
   input::placeholder{
       color: hsla(0,0%,100%,.7);
       font-size: 14px;
       font-weight: 400;
   }
   .list1{
       float: left;
   }
   .listleft{
       float: left;
       line-height: 53px;
       margin-left: 17px;
       color: #fff;
       font-size: 14px;
       list-style: none;
       font-weight: 600;
       white-space: nowrap;
   }
   
   .body-header{
       width: 100%;
       height: 53px;
       position: sticky;
       top: 0px;
       border: 1px solid grey;
   }
   .body-header li{
       float: left;
       list-style: none;
       line-height: 55px;
       margin-right: 24px;
   }
   .body-header a{
       color: #24292e;
       text-decoration: none;
   }
   .button1{
       float: left;
       padding: 8px 16px;
       border: 1px solid #1074e7;
       margin-top: 8px;
       font-size: 14px;
       font-weight: 500;
       color: #fff;
       border-radius: 6px;
       transition: .2s;
       margin-left: 81px;
   }
   
   .ul1{
       margin-left: 363px;
   }

   .li1:hover{
       color: #1074e7; 
   }



   .body-right{
        float: right;
        width: 200px;
        height: calc(100vh-108px);
        background-color: red;
    
   }
   .body-left{
       float: left;
       width: 200px;
       height: calc(100vh-108px);
       margin-top: 53px;
       background-color: rosybrown;
   }
   .body-mid{
       width: calc(100vh-400px);
       height: calc(100vh-218px);
       margin-left: 200px;
       margin-right: 200px;
       margin-top: 53px;
       background-color: seagreen;
   }

  