
   header{
       background-color: black;
       color: white;
       height: 53px;
       width: 100%;
   }
   header>img{
       width: 32px;
       height: 32px;
       margin-top: 10px;
       margin-bottom: 10px;
       margin-left: 10px;
       float: left;
   }
   
   .divinput{
       float: left;
       margin-top: 13px;
       transition: all 1s;
   }
   .divinput>input{
       width: 221px;
       height: 28px;
       border: none;
       border-radius: 5px 5px 5px 5px;
       padding-left: 12px;
       padding-right: 12px;
       background-color: #24292e;
       outline: none;
   }
   input::placeholder{
       color: hsla(0,0%,100%,.7);
       font-size: 14px;
       font-weight: 400;
   }
   .listall{
       float: left;
   }
   .listleft{
       float: left;
       line-height: 53px;
       margin-left: 17px;
       color: #fff;
       font-size: 14px;
       list-style: none;
       font-weight: 600;
       white-space: nowrap;
   }
   .bodymain{
      height: calc(100vh - 218px);
      margin-left: 321px;
      margin-right: 321px;
      margin-top: 53px;
   }
   .bodyleft{
       width: 321px;
       height: calc(100vh - 108px);
       float: left;
       margin-top: 53px;
   }
   .bodyright{
       width: 321px;
       height: calc(100vh - 108px);
       float: right;
       margin-top: 53px;
   }
   .divfooter{
      height: 110px;
       margin-left: 321px;
   }
   .divfooterlist1{
       height: 110px;
       width: 158px;
       float: right;
       padding-left: 24px;
   }
   .divfooterlist1 li{
       list-style: none;
       font-size: 12px;
       line-height: 1.5;
   }
   .divfooterlist1 a{
       color: #586096;
       text-decoration: none;
   }
   .divfooterlist1 a:hover{
       color: blue;
       text-decoration: underline;
   }
   .header2{
       width: 100%;
       height: 55px;
       border: solid grey;
   }
   .header2 li{
       float: left;
       list-style: none;
       line-height: 55px;
       margin-right: 24px;
   }
   .header2 a{
       color: #24292e;
       text-decoration: none;
   }
   .buttonset{
       float: left;
       padding: 8px 16px;
       border: 1px solid #1074e7;
       margin-top: 8px;
       font-size: 14px;
       font-weight: 500;
       color: #fff;
       background-color: #1074e7;
       border-radius: 6px;
       transition: .2s;
       margin-left: 81px;
   }
   
   .ulset{
       margin-left: 363px;
   }
   .divfooter2{
       width: 100%;
       height: calc(100vh - 711px);
       
   }
   
   
   .rightson{
        padding-top: 16px;
        padding-bottom: 8px;
        border-bottom: 1px solid #e1e4e8!important;
   }

   .smallcircle{
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}


.linkright{
    text-decoration: none;
    color: #24292e;
    font-size: 12px;
}

.linkdecb{
    color: #586069;
    font-size: 12px;
}


   .whitecolor{
       background-color: white;
   }
   .leftson{
       height: 200px;
       border: 1px;
       margin:16px;
       background-color: snow;
   }
   .leftbutton{
       color: #fff;
       background-color: #2ea44f;
       border-color: rgba(27,31,35,.15);
       box-shadow: 0 1px 0 rgba(27,31,35,.1), inset 0 1px 0 hsla(0,0%,100%,.03);
       padding: 5px 16px;
       font-size: 14px;
       font-weight: 500;
       line-height: 20px;
       border: 1px solid;
       border-radius: 6px;
       outline: none;
       margin-bottom: 8px;
       margin-left: 8px;
   }
   .lefthref{
     color: #0366d6;
     text-decoration: none;
     font-size: 14px;
     line-height: 1.5;  
     margin-left: 8px;
   }
   .ptitle{
       font-size: 14px;
       line-height: 1.5;
       color: #24292e;
       font-weight: 600;
       margin-bottom: 8px;
       margin-left: 8px;
   }
   .pmain{
       font-size: 14px;
       line-height: 1.5;
       color: #24292e;
       margin-bottom: 8px;
       margin-left: 8px;
   }
   .leftbutton2{
       margin-left: 8px;
       padding: 3px 12px;
       font-size: 12px;
       line-height: 20px;
       color: #0366d6; 
       border: 1px solid;
       border-radius: 6px;
       background-color: #fafbfc;
       border-color: rgba(27,31,35,.15);
       font-weight: 500;
       transition: all 1s;
   }
   .leftbutton2:hover{
       background-color: #0366d6;
       color: #fafbfc;
   }
   
   .divinput>input:active{
       background-color: #fff;
       width: 442px;
   }
   .sonp1{
     font-size: 24px;  
     line-height: 1.25;
     font-weight: 600;
     margin-bottom: 8px;
     color: #24292e;
     margin-left: 33px;
     padding-top: 16px;
   }
   
   .sonp2{
       font-size: 16px; 
       line-height: 1.5;
       font-weight: 600;
       margin-bottom: 10px;
       color: #24292e;
       margin-left: 33px;
     }
   .sonbutton{
       color:#0366d6;
       background-color:#fafbfc;
       border-color: rgba(27,31,35,.15);
       box-shadow: 0 1px 0 rgba(27,31,35,.1), inset 0 1px 0 hsla(0,0%,100%,.03);
       padding: 5px 16px;
       font-size: 14px;
       font-weight: 500;
       line-height: 20px;
       border: 1px solid;
       border-radius: 6px;
       outline: none;
       margin-bottom: 8px;
       margin-left: 33px;
       transition: all 1s;
   }
   .sonbutton:hover{
       background-color: #0366d6;
       color: #fafbfc;
   }
   
   p.sonp3{
       font-size: 14px; 
       line-height: 1.5;
       font-weight: 400;
       margin-bottom: 10px;
       color: #586069;
       margin-left: 33px;
     }